<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reapal.example.fastpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OrderActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.reapal.CardNoCheckActivity" />
        <activity android:name="com.reapal.BindCreditCardActivity" />
        <activity android:name="com.reapal.BindCardListActivity" />
        <activity android:name="com.reapal.ReapalProtocolActivity" />
        <activity android:name="com.reapal.PaymentSuccessActivity" />
        <activity android:name="com.reapal.SupportedBankListActivity" />
        <activity android:name="com.reapal.ValidatePwdActivity" />

    </application>

</manifest>